{
  "extends": [
    "@jedwards1211/eslint-config-es5", "@jedwards1211/eslint-config-flow",
    "eslint-config-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "env": {
    "es6": false,
    "shared-node-browser": true
  }
}
